.BaseHud
{
    width: 100%;
    height: 100%;
}

#Voting
{
    horizontal-align: center;
    position: 0px 20% 0px;
    margin-top: -3%;
    width: 580px;
    height: 420px;
    padding: 20px 20px 0px 20px;
    background-color: #000000DD;
    border: 2px solid #484A48;
    box-shadow: #000 -4px -4px 3px 8px;
    flow-children: down;
}


#Title, #ResultsTitle
{
    color: #FFF;
    font-size: 34px;
    font-weight: bold;
    text-shadow: 0px 0px 3px 3.0 #000;
    width: 100%;
    text-align: center;
}

#Title
{
    margin-top: -10px;
}

#Countdown {
    font-size: 34px;
    font-weight: bold;
    text-shadow: 0px 0px 3px 3.0 #000;
    width: 100%;
    text-align: center;
    margin-top: 15px;
}

#DifficultyPanel
{
    width: 100%;
    height: 220px;
    margin-top: 10px;
    flow-children: right;
}

.DifficultyImage
{
    width: 110px;
    height: 110px;
    margin-left: 0px;
}

.DifficultyLabel
{
    color: #FFF;
    font-size: 25px;
    font-weight: bold;
    text-shadow: 0px 0px 3px 3.0 #000;
    text-align: center;
    horizontal-align: center;
    vertical-align: top;
    width: 100%;
    height: 30px;
}

.DifficultyBox
{
    width: 33%;
    height: 200px;
    flow-children: down;
}

#Goal
{
    margin-top: 2px;
    font-size: 16px;
    font-weight: bold;
    color: #9e7305;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    text-overflow: clip;
}

#VictoryPoints
{
    margin-top: -20px;
    horizontal-align: center;
    vertical-align: middle;
    font-weight: bold;
    font-size: 60px;
    color: white;
    text-shadow: 2px 2px 2px #7b612b;
    text-overflow: clip;
}

.VictoryPanel
{
    horizontal-align: center;
    margin-left: 38px;
    flow-children: down;
    width: 100px;
    height: 110px;

    background-image: url("file://{images}/custom_game/goal_logo.psd");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100% 100%;
}

.Short
{
        background-image: url("file://{images}/custom_game/voting/goal_short.psd");

}

.Med
{
        background-image: url("file://{images}/custom_game/voting/goal_med.psd");
}

.Long
{
        background-image: url("file://{images}/custom_game/voting/goal_long.psd");

}

.Short #VictoryPoints {
    color: gradient( linear, 0% 0%, 0% 100%, from( #c88423 ), color-stop( 0.25, #c88423 ), color-stop( 0.5, #FFC684 ), color-stop( 0.75, #c88423 ), to( #8F6524 ) );
}

.Med #VictoryPoints {
    color: gradient( linear, 0% 0%, 0% 100%, from( #666666 ), color-stop( 0.25, #666666 ), color-stop( 0.5, #E0E0E0 ), color-stop( 0.75, #666666 ), to( #474747 ) );
}

.Long #VictoryPoints {
    color: gradient( linear, 0% 0%, 0% 100%, from( #c88423 ), color-stop( 0.25, #c88423 ), color-stop( 0.5, #fffb84 ), color-stop( 0.75, #c88423 ), to( #9a6717 ) );
}

.PopupButton {
    horizontal-align: center;
}

.Fade {
    opacity: 0.3;
}


#ButtonLabel
{
    width: 100%;
    text-align: center;
    text-shadow: 0px 0px 3px 2.0 #000;
    text-transform: uppercase;
}

.Hover .VictoryPanel, .Hover .DifficultyLabel
{
    brightness: 1.4;
    opacity: 1.4;
    text-decoration: underline;
}

.Selected .DifficultyLabel {
    text-decoration: underline;
}

#MiranaCounter {
    margin-left: 28px;
    horizontal-align: left;
    flow-children: none;
    height: 32px;
}

#MiranaTest {
    position: 10px 0 0 0;
}

.VoteCount {
    height: 48px;
    width:  100%;
    vertical-align: center;
}

#countPanel {
    transition: position 0.3s ease-in-out 0s, perspective-origin 1.2s ease-in-out 0.8s;
    width: 32px;
    height: 32px;
}
.
.mirana {
    background-image: url("file://{images}/custom_game/voting/mirana.png");
}

.chaos_knight {
    background-image: url("file://{images}/custom_game/voting/chaos_knight.png");
}

.chen {
    background-image: url("file://{images}/custom_game/voting/chen.png");
}
.disruptor {
    background-image: url("file://{images}/custom_game/voting/disruptor.png");
}
.keeper_of_the_light {
    background-image: url("file://{images}/custom_game/voting/_keeper_of_the_light.png");
}
.centaur {
    background-image: url("file://{images}/custom_game/voting/centaur.png");
}
.luna {
    background-image: url("file://{images}/custom_game/voting/luna.png");
}
.magnus {
    background-image: url("file://{images}/custom_game/voting/magnus.png");
}
.enchantress {
    background-image: url("file://{images}/custom_game/voting/enchantress.png");
}
.leshrac {
    background-image: url("file://{images}/custom_game/voting/leshrac.png");
}

